<div class="content">
  <div class="header" id="header">
      <div class="nav">
          <label></label>
          <div class="switchs">
              <button style="font-weight: bold;" class="log" id="log" [routerLink]="['']"><i class="fa fa-home"></i> الصفحة الرئيسية</button>
              <button style="font-weight: bold;" class="log" id="log" onclick="location.href='#services';"><i class="fa fa-cog"></i> الخدمات</button>
              <button style="font-weight: bold;" class="log" id="log" [routerLink]="['/login']"><i class="fa fa-sign-in"></i> تسجيل الدخول</button>
              <button style="font-weight: bold;" class="create_acc" id="create_acc" [routerLink]="['/registration']"><i class="fa fa-user-plus"></i> إنشاء حساب</button>
          </div>
      </div>
      <div class="main">
          <div class="text">
              <h1 style="margin-left: -10%; font-family: Verdana;">نظام إدارة التعلم الإلكتروني</h1><br>
              <h4 style="font-family: monospace; font-weight: bolder; margin-left: -8%; color: rgb(248, 247, 247);">تم تطويره بواسطة - Nader Amama && Oussama Ben Salem</h4><br><br>
          </div><br>
          <img class="floating" id="img3" [src]="'assets/img/lms-bg.png'">
      </div>
  </div>
  <br>
</div>
<br><br>
<marquee class="marquee" direction="left">🔔  !!!   لنتحد معاً  Nader Amama . إذا كنت بالفعل عميلنا، يرجى تسجيل الدخول لرؤية حالة تعلمك الحالية 😀</marquee>

<section id="about" class="about about-bg">
  <div class="about-container">
      <div class="subtext1" id="subtext1"><span class="counter">01</span> &nbsp;بوابة تعلم سهلة الاستخدام<i id="subtext1" class="fa fa-caret-down"></i></div>
      <div class="innertext1" id="innertext1">توفر لك هذه البوابة تجربة <b style="color: darkmagenta; font-size: larger; font-weight: bolder;">سهلة الاستخدام</b> مع جميع المحتويات التعليمية والموارد لتحسين مهاراتك. يمكنك أيضًا <b style="color: darkgreen; font-size: large; font-weight: bolder;">تحميل المواد المتعلقة بالدورة</b> من بوابتنا مما يجعل عملية التعلم أسهل بكثير.</div>
  </div>
  <div class="about-container">
      <div class="subtext1" id="subtext2"><span class="counter">02</span> &nbsp;ثلاثة أوضاع مختلفة<i id="subtext2" class="fa fa-caret-down"></i></div>
      <div class="innertext1" id="innertext2">يحتوي هذا النظام الإلكتروني على ثلاثة أوضاع عمل مختلفة كـ<b style="color:darkblue; font-size: larger; font-weight: bolder;">مدير أستاذ مستخدم.</b> كل منهم يمكنه الوصول إلى الميزات الخاصة به وأداء مهمته وفقًا لذلك. (افتراضيًا، سيكون مدير هو <b style="color: darkgreen; font-size: larger; font-weight: bolder;">Nader Amama </b><b style="color: darkred;">(مُنشئ البوابة)</b></div>
  </div>
  <div class="about-container">
      <div class="subtext1" id="subtext3"><span class="counter">03</span> &nbsp;محتويات تعلم محددة<i id="subtext3" class="fa fa-caret-down"></i></div>
      <div class="innertext1" id="innertext3">تم تضمين محتويات تعلم منفصلة لكل من <b style="color: darkgreen; font-size: larger; font-weight: bolder;">محاضرات الفيديو</b> و<b style="color: darkgreen; font-size: larger; font-weight: bolder;">محاضرات الموقع الإلكتروني.</b> يمكن لـ<b style="color: darkred; font-size: medium; font-weight: bolder;">مدير</b> أو<b style="color: darkred; font-size: medium; font-weight: bolder;">أستاذ</b> تحديد نوع الدورة أثناء إضافة دورة جديدة</div>
  </div>
  <div class="about-container">
      <div class="subtext1" id="subtext4"><span class="counter">04</span> &nbsp;محاضرات فيديو مدمجة<i id="subtext4" class="fa fa-caret-down"></i></div>
      <div class="innertext1" id="innertext4"><b style="color: darkgreen; font-size: larger; font-weight: bolder;">محاضرات الفيديو</b> مقسمة أيضًا إلى <b style="color: darkgreen; font-size: larger; font-weight: bolder;">فصول</b> حسب المدربين والمستخدمين ويتم تيسير التعلم كمحاضرة فيديو مدمجة في <b style="color: maroon; font-size: large; font-weight: bolder;">مشغل الفيديو المخصص لدينا.</b> يمكنك أيضًا <b style="color: darkblue; font-size: medium; font-weight: bolder;">تدوين الملاحظات، تحميل الموارد، طرح الأسئلة وتقديم الملاحظات حول الدورة.</b></div>
  </div><br>
  <img class="automation" [src]="'assets/img/image.png'" width="470" height="470">
</section>

<main id="main">
  <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">
          <div class="section-title">
              <h2 style="font-family: aladin; color: rgb(3, 34, 34);">بوابة سهلة الاستخدام للتعلم</h2>
          </div>
          <div class="mid_body2">
              <div class="details">
                  <div class="detail_1" (click)="navigate()" style="background-color: rgb(19, 104, 97); margin-right: 5%;">
                      <h2 style="font-weight: bolder; font-size: 35px;font-family: monospace; margin-top: 5%; color: white;"> المشرف </h2>
                      <div class="circle" style="border-radius: 50%; background-color: white; padding: 10%;">
                          <img [src]="'assets/img/admin.png'" width="130" height="130">
                      </div>
                  </div>
                  <div class="detail_2" (click)="navigate()" style="background-color: rgb(19, 104, 97); margin-right: 5%;">
                      <h2 style="font-weight: bolder; font-size: 35px;font-family: monospace; margin-top: 5%; color: white;"> أستاذ </h2>
                      <div class="circle" style="border-radius: 50%; background-color: white; padding: 10%;">
                          <img [src]="'assets/img/femaleprofessor.png'" width="130" height="130">
                      </div>
                  </div>
                  <div class="detail_3" (click)="navigate()" style="background-color: rgb(19, 104, 97); margin-right: 5%;">
                      <h2 style="font-weight: bolder; font-size: 35px;font-family: monospace; margin-top: 5%; color: white;"> مستخدم </h2>
                      <div class="circle" style="border-radius: 50%; background-color: white; padding: 10%;">
                          <img [src]="'assets/img/male.png'" width="130" height="130">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</main>

<app-footer></app-footer>
