<app-header></app-header>

<div class="sidebar-container">
    <ul class="sidebar-navigation">

        <div class="card" style="width:235px; background-color: #cc4f4f;">
            <div id="userimg" style="width:150px;">
            <img [src]="'assets/img/admin.png'" alt="صورة البطاقة" style="width:100%">
            </div>
            <div style="margin-left: auto; margin-right: auto;"  class="card-body">
              <h4 style="font-weight: bolder;" class="card-title"><b>{{name}}</b></h4>
            </div>
          </div>

      <li>
         <i class="fa fa-plus" aria-hidden="true"></i> <label [routerLink]="['/addProfessor']" style="cursor: pointer;">إضافة أستاذ</label>
      </li>
      <li>
        <i class="fa fa-cart-plus" aria-hidden="true"></i> <label [routerLink]="['/addCourse']" style="cursor: pointer;">إضافة دورة</label>
     </li>
     <li>
      <i class="fa fa-book" aria-hidden="true"></i> <label [routerLink]="['/addchapter']" style="cursor: pointer;">إضافة فصول</label>
     </li>
      <li>
        <i class="fa fa-check-square" aria-hidden="true"></i> <label [routerLink]="['/approveprofessor']" style="cursor: pointer;">الموافقة على الأساتذة</label>
      </li>
      <li>
        <i class="fa fa-list" aria-hidden="true"></i> <label [routerLink]="['/courselist']" style="cursor: pointer;">قائمة الدورات</label>
      </li>
      <li>
        <i class="fa fa-heart" aria-hidden="true"></i> <label [routerLink]="['/mywishlist']" style="cursor: pointer;">قائمة الرغبات</label>
      </li>
      <li>
        <i class="fa fa-user-o" aria-hidden="true"></i> <label [routerLink]="['/professorlist']" style="cursor: pointer;">الأساتذة</label>
      </li>
      <li>
        <i class="fa fa-user" aria-hidden="true"></i> <label [routerLink]="['/userlist']" style="cursor: pointer;">المستخدمون</label>
      </li>
    </ul>
  </div>

  <div class="container">
    <div class="row">
      <div style="color: maroon; font-weight: bolder; font-family: aladin; letter-spacing: 1px; font-size: 40px; margin: 0% 0% 1% 0%;"><b>مرحبًا بك في لوحة التحكم الإدارية - نظام إدارة التعلم الإلكتروني</b></div>
      <div style="color: darkgreen; font-weight: bold; font-size: 22px; margin: 0% 0% 2% 29%;"><b>[المؤلف - غوثمراج كي]</b></div>
      <div class="dashboard-card" style="background-color: white; box-shadow: 4px 4px 25px 5px gray;">
          <div class="circle"><i id="icons" style="margin-left: 30px;" class="fa fa-user"></i></div>
          <div class="text">المستخدمون</div>
          <div class="sub-text" *ngFor="let user of users | async">{{user}} مستخدمون مسجلون</div>
        </div>
        <div class="dashboard-card" style="background-color: white; box-shadow: 4px 4px 25px 5px gray;">
          <div class="circle"><i id="icons" style="margin-left: 25px;" class="fa fa-user-o"></i></div>
          <div class="text" >الأساتذة</div>
          <div class="sub-text" *ngFor="let professor of professors | async">{{professor}} أساتذة يقومون حاليًا بتعليم الطلاب</div>
        </div>
        <div class="dashboard-card"style="background-color: white; box-shadow: 4px 4px 25px 5px gray;">
          <div class="circle"><i id="icons" style="margin-left: 25px;" class="fa fa-trophy"></i></div>
          <div class="text">الدورات</div>
          <div class="sub-text" *ngFor="let course of courses | async">{{course}} دورات متاحة</div>
        </div>
        <div class="dashboard-card" style="background-color: white; box-shadow: 4px 4px 25px 5px gray;">
          <div class="circle"><i id="icons" style="margin-left: 15px;" class="fa fa-graduation-cap"></i></div>
          <div class="text">المتعلمون</div>
          <div class="sub-text" *ngFor="let count of enrollmentcount | async">{{count}} تم إجراء تسجيلات من قبل <b *ngFor="let enrollment of enrollments | async">{{enrollment}}</b> متعلمين</div>
        </div>
        <div class="dashboard-card" style="background-color: white; box-shadow: 4px 4px 25px 5px gray;">
          <div class="circle"><i id="icons" style="margin-left: 20px;" class="fa fa-list"></i></div>
          <div class="text">الفصول</div>
          <div class="sub-text" *ngFor="let chapter of chapters | async">{{chapter}} الدورات مع فصولها<br>التفصيلية</div>
        </div>
        <div class="dashboard-card" style="background-color: white; box-shadow: 4px 4px 25px 5px gray;">
          <div class="circle"><i id="icons" style="margin-left: 20px;" class="fa fa-heart"></i></div>
          <div class="text">المفضلة</div>
          <div class="sub-text" *ngFor="let wishlists of wishlist | async">{{wishlists}} الدورات محبوبة لدى معظم المتعلمين</div>
        </div>
    </div>
  </div>

<br><br><br><br>
<app-footer></app-footer>
